.app__navbar {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    background-color: #c07a35;
    
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.app__navbar-logo img {
    width: 150px;
}

.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.app__navbar-links li {
    margin: 0rem 1rem;
    cursor: pointer;
}
.app__navbar-links li:hover {
    color: var(--color-black);
    transition: .5s ease;
}

.app__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 4rem;

}
.app__navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transition: .5s ease;
}
.app__navbar-login a:hover {
    border-bottom: 2px solid rgb(41, 37, 32);
    
}



/* Small-screen styling */
.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen-overlay {
    position: fixed;
    flex-direction: column;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.977);

    transition: .5s ease;
}
.app__navbar-smallscreen-overlay .overlay__close{
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 30px;

}
.app__navbar-smallscreen-overlay-links {
    justify-content: center;
    align-items: center;
    list-style: none;
}
.app__navbar-smallscreen-overlay-links li {
    margin: 2rem;
    cursor: pointer;
    color: burlywood;
    font-size: 1rem;
    text-align: center;
}
.app__navbar-smallscreen-overlay-links li:hover {
    color: whitesmoke;
}




/* Desktop screen */
@media screen and (min-width: 1024px) {
    .app__navbar-links li {
        font-size: 1.3rem;
    }
    .app__navbar-login a{
        font-size: 1.3rem;
    }


    .app__navbar-smallscreen {
        display: none;
    }
}

@media screen and (max-width: 855px) {
    
}

/* Mobile screen */
@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
 
}

